<div class="container">
  <h1>Cocktails list</h1>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class:"link" do %>
    <div class="card-trip">
      <%= image_tag "https://source.unsplash.com/1600x900/?cocktail-#{cocktail.name}", alt: "alttext", class:"img" %>
      <div class="card-trip-infos">
          <h2><%= cocktail.name %></h2>
      </div>
     <% end %>
    </div>
  <% end %>
  <%= link_to "â• Add new cocktail", new_cocktail_path  %>
</div>
