.btn-ghost {
  margin-top: 16px;
  color: white;
  padding: 8px 24px;
  border-radius: 25px;
  font-weight: bold;
  background: rgb(220,220,220);
  transition: background 0.3s ease;
  left: 900px;
  top: 100px;
  position: relative;
  opacity: 1;
}

.btn-ghost:hover {
  background: rgb(180,180,180);
  color: white;
  opacity: 0.8;
  font-style: italic;
}
